/* Pokido Style Sheet */
/* Color Pokémon: Yellow #ffcb05, Blue #3466af
Light blue Pokemon: 618ED0
/* here you can write your Site colors */
body {
  background-color: #33312d;
  color: inherit;
  font-family: 'Roboto Mono', monospace, Helvetica, sans-serif;;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  padding: 10px;
}

/* Header */

h1 {
  font-size: 30px;
  font-weight: 700;
  color: #33312d;
  background-color: #ffa500;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: #33312d;
  background-color: #ffa500;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #ffa500;
  background-color: #33312d;
}
p
{
  color: #ffa500;
  background-color: #33312d;
}
/* pokemon list and items, button styles */
.list-button {
    background-color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    color: #33312d;
    border: #000 solid 1px;
    cursor: pointer;
}

.pokemon-list li {
    text-align: center;
    list-style-type: none;
    padding: 5px;
    width: 33.333%;
}

/* Form validation styles */
.input-wrapper {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  min-width: 75px;
  color: #ffa500;
  background-color: #33312d;
}

.error-message {
  color: #ff8d05;
  font-size: 0.9em;
}

.imgage-div {
	width: 50%;
	margin: 0 5px 0 0;
}
/* modal container */
#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  background: #fff;
  margin-top: 0;
}
.modal p {
  margin-bottom: 0;
}

.modal-img {
  margin: auto;
  display: block;
  width: 150px;
  height: 150px;
}
/* Navigation section */

/* Profile Section */

/* Footer */
.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
}

@media all and (max-width: 1024px) {
	.pokemon-list li {
		width: 100%;
	}
}

@media all and (max-width: 630px) {
	.pokemon-list li {
		width: 100%;
	}
}
